extends layout
block title
  title Browse User-Generated Scrapers
block content
  ol.scrapers
    - each scraper in scrapers
      li
        a(href="/#{scraper.id}")= scraper.title
        p= scraper.url_example
  nav.browse-nav
    - if (prevPage)
      a.link(href="/browse/#{prevPage}") &larr; Previous
    - else
      span.link &larr; Previous
    span.page-count #{page} / #{totalPages}
    - if (nextPage)
      a.link(href="/browse/#{nextPage") Next &rarr;
    - else
      span.link Next &rarr;
