extends layout
block title
  title Scraper id: #{scraper.id}
block content
  h1= scraper.title
  h2= scraper.url_example
  h3 CSS selectors:
  ul
    - each selector in scraper.selectors
      li= selector.value
  a(href="/#{scraper.id}/scrape?url=#{scraper.url_example}") Try it out &rarr;
